body, html {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background-color: #00ac86;
    color: #000;
}

body {
    background-image: url("/img/background.jpeg");
    color: #fff;
    background-size: cover;
}

p, h3 {
    margin: 0 !important;
}

main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px;
    border-bottom: 1px solid #9d9d9d69;
}

.wrapper-cronometro {
    flex: 1;
    flex-direction: column;
    gap: 20px;
}

.element-cronometro {
    display: flex;
    border-radius: 100%;
    border: 1px solid #fff;
    width: 500px;
    height: 500px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.element-cronometro h2 {
    font-size: 60px;
    font-weight: 900;
}

.element-cronometro span {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-records h3{ 
    font-size: 20px;
}

i {
    width: 20px !important;
    height: 20px !important;
}

.icons-control {
    font-size: 20px;
    color: #000;
}

.wrapper-controls {
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-controls:hover { 
    background-color: #BEDCFE;
    transition: 1s;
    cursor: pointer;
}

.wrapper-records {
    background-color: #282828;
    color: #fff;
    margin: 10px;
    padding: 7px 15px;
    border-radius: 12px;
}

#sectionRecord {
    margin-top: 10px;
    padding: 0 !important;
}

.wrapper-icons {
    gap: 15px;
}

.icons-records:hover {
    cursor: pointer;
}

.icon-delete {
    color: #e60000;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 10px;
}
  
@media (max-width: 475px) {
    .element-cronometro {
        width: 300px;
        height: 300px;
    }
    .wrapper-records h3{
        font-size: 13px !important;
    }
    .wrapper-records p{
        font-size: 12px !important;
    }
    .wrapper-records {
        gap: 10px;
    }
}